# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Editor directories and files
.vscode/
.idea/
*.iml

# Vendor directory
/vendor/

# Env file
.env

# Log files
*.log

# Temporary files
*.tmp
*.temp
